extends layout

block content
    form(method="post" action="/")
        input(type="text" name="inputtedText" placeholder="enter text")
        input(type="submit" name="submitText" value="submit")
    = firstPost
